@font-face {
  font-family: Norse-Bold;
  src: url("./fonts/Norse-Bold.otf");
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 32px;
  font-weight: bold;
  background-color: #66ac726c;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 60vw;
  height: 100vh;
  background: url("./imgs/background_image.jpg");
  background-size: cover;
  color: white;
}

#odin-image {
  width: 5rem;
  padding: 10px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.div-odin-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #00000080;
}

h1 {
  font-family: Norse-Bold;
  color: #ffffff;
}

h2 {
  font-size: 28px;
  margin-top: 50px;
  font-style: italic;
}

header p {
  font-size: 15px;
  padding: 20px;
  position: absolute;
  bottom: 0;
}

a {
  text-decoration: none;
  color: #ffd700;
}

.heading {
  padding: 50px 50px 20px 50px;
}

form {
  display: flex;
  flex-flow: row wrap;
  gap: 5rem;
  background-color: #ffffff;
  box-shadow: 10px 5px 5px black;
  padding: 50px;
  margin-bottom: 30px;
}

label {
  color: #5f5e5e;
  display: flex;
  flex-direction: column;
  font-size: 15px;
}

input {
  margin-top: 0.3rem;
  height: 1.5rem;
  width: 10rem;
  border-radius: 5px;
  border: 3px solid #e5e7eb;
  padding: 2px 3px;
}

.submit-section {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

#submit-btn {
  font-size: 15px;
  padding: 12px;
  width: 200px;
  border-radius: 10px;
  background-color: #596d48;
  border: none;
  color: #ffffff;
}

#log-in {
  font-size: 14px;
}

#log-in a {
  color: #596d48;
}

input:invalid:focus {
  border-color: #ff0000;
  outline: none;
}

input:valid:focus {
  border-color: #008000;
  outline: none;
}

#submit-btn:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: 0.2s linear;
}

@media screen and (max-width: 1150px) {
  body {
    flex-direction: column;
    overflow-x: hidden;
  }
  header {
    width: 100vw;
    height: 30rem;
  }

  .submit-section {
    padding: 20px;
    margin: 0;
  }

  .heading,
  #my-form,
  .submit-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .heading {
    padding: 70px;
    font-size: 25px;
  }

  #log-in {
    margin-right: 0;
  }

  form {
    gap: 1rem;
  }
}

@media screen and (max-width: 500px) {
  .heading {
    padding: 30px;
  }

  form {
    gap: 0;
    padding: 30px;
  }

  label {
    margin-bottom: 25px;
  }
}
